@import url('http://fonts.cdnfonts.com/css/common-pixel');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size: min(50vw, 50vh);
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    background-color: rgb(3, 29, 54);
    font-family: 'Common Pixel';
    color: rgb(252, 242, 190);
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.lose{
    background-color: rgb(177, 56, 56);
}

.text {
    height: 20%;
}

.MainContainer {
    width: var(--size);
    height: var(--size);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    margin-top: 80px;

    font-size: 4vw;
}

.container div {
    width: 50%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20%;
    border:  8px solid black;

}

.green {
    background-color: rgb(11, 136, 6);
}

.red {
    background-color: rgb(232, 0, 1);
}

.blue {
    background-color: rgb(4, 0, 244);
}

.yellow {
    background-color: rgb(250, 255, 8);
}
.active {
    background-color: gray;
    box-shadow: 0 0 16px 5px #c8c8c8;
}

audio {
    display: none;
}